SQLALCHEMY_DATABASE_URI = 'postgresql://user:password@localhost/ldstat'
#CELERY_BROKER_URL = 'amqp://'
#CELERY_BACKEND = 'amqp'
#CELERY_TIMEZONE = 'Europe/Stockholm'
#CELERYD_PREFETCH_MULTIPLIER = 1

#CELERYBEAT_SCHEDULE = {
#    'add-every-minute': {
#        'task': 'tasks.add',
#        'schedule': crontab(),
#        'args': (100, 200),
#    },
#}