{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', filename='/js/sorttable.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li class="active">Alla län och yrkesområden</li>
        </ol>
        <table class="table table-striped table-hover sortable">
            <tr><th>Antal annonser</th><th>Antal jobb</th><th>Län</th><th>Yrkesområde</th></tr>
          {% for row in result %}
            <tr class="clickable-row" data-href="/professional_group_per_municipality/{{ row['county_id'] }}/{{ row['professional_area_id'] }}"><td>{{ row['num_posts'] }}</td><td>{{ row['num_jobs'] }}</td><td>{{ row['county_name'] }}</td><td>{{ row['professional_area_name'] }}</td></tr>
          {% endfor %}
        </table>
    </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
{% endblock %}
